<!-- 添加学生 -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/manager.css" rel="stylesheet">

    <style>
    </style>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">学生成绩管理系统
        </a>
        
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/manager/home">
                                <span data-feather="home"></span>
                                首页 <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/manager/student">
                                <span data-feather="file"></span>
                                学生成绩
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manager/teacher">
                                <span data-feather="file"></span>
                                教师信息
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manager/notice">
                                <span data-feather="file"></span>
                                发布公告
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manager/user">
                                <span data-feather="users"></span>
                                用户管理
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manager/repassword">
                                <span data-feather="layers"></span>
                                修改密码
                            </a>
                        </li>
                    </ul>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <form action="/manager/teacher/add" method="post">
                    <div class="form-group">
                        <label for="">姓名</label>
                        <input type="text" class="form-control" placeholder="姓名" name="name">
                    </div>
                    <div class="form-group">
                        <label for="">性别</label>
                        <input type="text" class="form-control" placeholder="性别" name="gender">
                    </div>
                    <div class="form-group">
                        <label for="">职称</label>
                        <input type="text" class="form-control" placeholder="职称" name="title">
                    </div>
                    <div class="form-group">
                        <label for="">学历</label>
                        <input type="text" class="form-control" placeholder="学历" name="educate">
                    </div>
                    <div class="form-group">
                        <label for="">所在部门</label>
                        <input type="text" class="form-control" placeholder="所在部门" name="section">
                    </div>
                    <div class="form-group">
                        <label for="">联系方式</label>
                        <input type="text" class="form-control" placeholder="联系方式" name="phone">
                    </div>
                    <input type="submit" class="btn btn-default btn-primary" value="提交">
                </form>
            </main>
        </div>
    </div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!-- <script src="/node_modules/bootstrap/js/dist/popover.js"></script> -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- 图标 -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
    </script>
</body>

</html>